body {
  margin: 0;
  align-content: center;
  font-family: "Courier New", Courier, monospace;
  font-size: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  background: lavender;
  text-align: center;
}
.app {
  background: peachpuff;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  background: peru;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo {
  background: lightcyan;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 24px;
  background: lemonchiffon;
}
